.toggle input[type='checkbox']{
  display: none;
}

.toggle label{
  background-color: black;
  cursor:pointer;
  display: inline-block;
  position: relative;
  height: 100vh;
  border-radius: 50%;
  width: 100px;
  height: 50px;

}

.dark-mode {
  background-color: black;
  height: 100vh;
  color: white;
}

 /*light mode */

.light {
  background-color: white;
  color: black;
  height: 100vh;
}
